.header{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8rem;
    background-color: black;
    padding: 0.8rem 0;

    position: fixed;
    top: 0;
    z-index: 150;
}

.header__titulo{
    font-size: 1rem;
    padding: 0.4rem;
    color: #FFFFFF;
}

.header__titulo-span{
    color: blue;
}

.lista{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(28, 28, 28);
    height: 90vh;
    padding: 1rem 0;
    margin-left: 4rem;
    
    position: fixed;
    top: 0;
    left: 60rem;
    right: 0;
    transition: 0.3s;
}

.lista-active{
    left: 0;
    transition: 0.5s;
}

.fa-xmark{
    padding-right: 1.8rem;
}

.lista-item{
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 2rem 2rem;

}

.lista-item--link{
    color: #FFFFFF;
}

@media screen and (min-width: 768px){
    .header{
        gap: 1rem;
        padding: 0.6rem 1rem;
    }
    .header__titulo{
        font-size: 1.2rem;
    }
    .fa-bars::before{
        display: none;
    }
    .lista{
        flex-direction: row;
        align-items: center;
        position: static;
        height: 0;
        margin: 0;
        background-color: transparent;
    }
    .fa-xmark{
        visibility: hidden;
    }
    .lista-item{
        font-size: 1.2rem;
        padding: 1rem;
    }
}

@media screen and (min-width: 1024px){
    .header{
        justify-content: space-between;
        padding: 1 4rem;
    }
    .header__titulo{
        margin-left: 1.5rem;
    }
    .lista{
        margin-right: 1.5rem;
    }
    .lista-item{
        margin-right: 2rem;
    }
    .lista-item--link:hover{
        color: blue;
        transition: 0.5s;
    }
}