.sobre{
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
}

.sobre__titulo{
    font-size: 1.7rem;
    margin-top: 2rem;
}

.sobre__caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre__caixa-sub-titulo{
    margin-top: 1rem;
    font-size: 1.8rem;
}

.sobre__caixa-imagem{
    width: 200px;
    padding: 2rem 0;
}

.sobre__caixa-imagem-desktop{
    display: none;
}

.sobre__caixa-descricao{
    font-size: 1.4rem;
    padding: 0 1rem;
}

.sobre__caixa-paragrafo{
    font-size: 1.1rem;
    margin-top: 1.3rem;
    padding: 0 2.1rem;
}

@media screen and (min-width: 1024px){
    .sobre__titulo{
        font-size: 2rem;
    }
    .sobre__caixa-sub-titulo{
        font-size: 3rem;
        margin: 50px 0 20px 0;
    }
    .sobre__caixa{
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
    }
    .sobre__caixa-imagem{
        width: 300px;
    }
    .sobre__caixa-descricao{
        font-size: 1.7rem;
    }
    .sobre__caixa-paragrafo{
        font-size: 1.3rem
    }
}