@import './header.css';
@import './sobre.css';
@import './projetos.css';
@import './habilidades.css';
@import './soft.css';
@import './formulario.css';
@import './contato.css';
@import './footer.css';
@import './diferenciais.css';

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(#FFFFFF, rgb(91, 91, 91));
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    width: 100%;
    min-width: 250px;
    margin: 0 auto;
}